<!DOCTYPE html>
<html>
  <head>
    <title>Becord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <!--header START-->
    <head class="header">
      <div class="header-top">
        <h1 class="logo">
          <a href="/">becord</a>
        </h1>
        <div class="devise-nav">
          <% if user_signed_in? %>
            <div class="user-nav">
              <!--<a href="#">赤ちゃんのニックネーム</a>-->
              <%= link_to "赤ちゃんのニックネーム", "#" %>
              <!--<a href="#">ログアウト</a>-->
              <%= link_to "ログアウト", destroy_user_session_path %>
            </div>
          <% else %>
            <div class="not-user-nav">
              <%= link_to "新規登録", new_user_registration_path %>
              <%= link_to "ログイン", new_user_session_path %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="header-bottom">
        <ul class="global-nav">
          <%= link_to "栄養メモ", root_path, class: "nav-item" %>
          <%= link_to "離乳食", home_baby_food_path, class: "nav-item" %>
            <% if user_signed_in? %>
              <%= link_to "赤ちゃんのニックネームの食材リスト", foods_path, class: "nav-item" %>
            <% else %>
              <%= link_to "このアプリについて", home_about_app_path, class: "nav-item" %>
            <% end %>
        </ul>
      </div>
    </head>
    <!--header END-->
    
    
    <%= yield %>
    
    
    <!--footer START-->
    <footer class="footer">
      <p class="copy-right">© 2021 becord</p>
    </footer>
    <!--footer END-->
    
    
  </body>
</html>
