<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <title>Becord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="../css/reset.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!--header START-->
    <header class="header">
        <h1 class="logo">
          <a href="/" class="header-link becord">becord</a>
        </h1>
        <div class="global-nav">
          <% if user_signed_in? %>
            <%= link_to "#{current_user.baby_nickname}の離乳食記録", records_path, class: "header-link nav-item" %>
          <% end %>
        </div>
        <div class="devise-nav">
          <% if user_signed_in? %>
            <div class="user-nav">
              <%= link_to "マイページ", user_path(current_user), class: "header-link" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-link header-right-link" %>
            </div>
          <% else %>
            <div class="not-user-nav">
              <%= link_to "新規登録", new_user_registration_path, class: "header-link" %>
              <%= link_to "ログイン", new_user_session_path, class: "header-link header-right-link" %>
            </div>
          <% end %>
        </div>
      
    </header>
    <!--header END-->
    
    
    <%= yield %>
    
    
    <!--footer START-->
    <footer class="footer">
      <p class="copy-right">© 2021 becord</p>
    </footer>
    <!--footer END-->
    
    
  </body>
</html>
